<h1>Welcome to My Twitter Clone</h1>
{%if request.user.is_authenticated %}
You are logged in as {{ request.user.username }}
{%endif%}
{%if not request.user.is_authenticated %}
Please Login <br>
To Login <a href="login/">Click Here</a> <p></p>
Or Signup <a href="signup/">Click Here</a>
{%endif%}

<ul>
    {% for home in data %}
        <li>
            <a href="/user/{{home.id}}">{{home.}}</a>
        </li>
    <br>
    {% endfor %}
    To add an Author <a href="tweet/">Click Here</a> <br>
    {%if request.user.is_authenticated %}
    To Logout <a href="logout/">Click Here</a>
    {%endif%}
</ul>
