<h1>{{}}</h1>
<ul>
    {{namedata.bio}}
</ul>
    {% for recipes in data %}
        <li>
            <a href="/recipe/{{recipes.id}}">{{recipes.title}}</a>
        </li>
    {% endfor %}
<a href="/">Home</a>
{%if request.user.is_authenticated %}
You are logged in as {{ request.user.username }}
{%endif%}
{%if not request.user.is_authenticated %}
Please Login <br>
To Login <a href="login/">Click Here</a> <p></p>
{%endif%}
{%if request.user.is_authenticated %}<br>
To Logout <a href="logout/">Click Here</a>
{%endif%}